@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
     margin:0;
     padding:0;
     font-family: "Open Sans", serif;
     font-optical-sizing: auto;
     font-style: normal;
}
.container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin:20px;
     /* padding:20px; */
}
.container .title{
     font-size: 1.2rem;
     color:black;
     font-weight: bold;

}
.links ul{
     display: flex;
     gap:15px;
     
}
.links li{
     list-style: none;

}
.links a{
     text-decoration: none;
     color:rgba(0, 0, 0, 0.5);
}
.hero{
     background-image: linear-gradient(to right, rgba(255, 255, 255, 0.603),rgba(255, 255, 255, 0.719));
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin:20px;
     padding:10px;
}
.start h2{
     font-size: 2.2rem;
     font-weight: bold;
     color:black;
     margin-top: 15px;

}
.start .para{
     font-size: 0.9rem;
     color:rgba(0, 0, 0, 0.527);
     width:50%;
     margin-top: 15px ;
}
.btn{
     font-size: 0.9rem;
     font-weight: 700;
     padding:10px;
     margin-top: 20px;
     color:white;
     background-color: rgba(165, 42, 42, 0.5);
     border-radius: 20px;
}
.container-img{
     display: flex;
     gap:30px;
     justify-content: center;
     align-items: center;
     margin:30px 50px;
     /* filter: grayscale(gray); */
     border-top: 1px solid rgba(0, 0, 0, 0.253);
     border-bottom: 1px solid rgba(0, 0, 0, 0.301);
     padding:20px;
}
.container-img img{
     filter: grayscale(1);
}
.haeder-content h1{
     font-size: 2rem;
     font-weight: bold;
     color:black;
     text-align: center;
     margin-top: 30px;
}
.box-content{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     flex:1;
     background-color: rgba(0, 255, 255, 0.295);
}
.box{
     /* border:2px solid yellow; */
     margin:20px;
     padding:10px;
     background-color:rgba(0, 128, 0, 0.445);
     width:80%;

}
.box img{
     width:100%;
}
.box p{
     width:60%;
}
.ratting-ster{
     color:yellow;
     

}
.hero4{
     margin:40px 60px;
}
.down-button{
     color:red;
     text-align: right;
}
.hero5{
     display: flex;
     justify-content: space-between;
     margin:50px 90px;
     align-items: center;
     gap:100px;
}
.footer{
     background-color: rgba(137, 43, 226, 0.678);
     text-align: center;
     height:150px;
}















@media screen and (max-width:576px){
     .box-content{
          display:block;
     }
     .container{
          display:block;
          
     }
     .links{
          flex-direction: column-reverse;
     }
     .hero{
          display:block;
          padding:0;
          width:auto;
     }
     .container-img{
          flex-direction: column;
          flex-wrap: wrap;
     }
     .hero5{
          display:block;
          margin:20px auto;
     }
     .hero2{
          flex-wrap: wrap;
     }
     .img-container{
          margin:0;
          width:100%;
     }
}